/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  user-select: none;
}

h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #006c8b;
  margin-bottom: 20px;
  user-select: none;
}

p {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #006c8b;
  margin-bottom: 8px;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CSS Reset END  */

span {
  color: rgb(68, 68, 147);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

header {
  background-image: url(/assets/images/Boat6.jpg);
  background-size: cover;
  background-position: center;
  height: 900px;
  background-color: #006c8b;
  color: #f2f2f2;
  text-align: center;
  margin-bottom: 100px;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  color: #006c8b;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.877);
  opacity: 0.9;
  z-index: 999999999;

  h1 {
    font-family: "Architype Albers W00";
  }

  ol {
    display: flex;
    gap: 50px;
    margin-bottom: 0px;
  }

  .navbar li,
  a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .navbar li,
  a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 16px;
  }

  @keyframes hoverEffect {
    from {
      background-color: #333;
      color: #f2f2f2;
    }
    to {
      background-color: #ddd;
      color: black;
    }
  }

  .navbar a:hover {
    animation: hoverEffect 0.3s forwards;
  }
}

#Introduction {
  padding: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 100px;
  text-align: center;

  h2 {
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #006c8b;
    user-select: none;
    margin-bottom: 30px;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #006c8b;
    margin-bottom: 8px;
    user-select: none;
    text-align: center;
  }

  img {
    background: none;
    border-radius: 12px;
    pointer-events: none;
  }
}

#about {
  scroll-margin-top: 200px; /* Navbar yüksekliğine göre ayarlayın */
  padding-block: 20px;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;

  h2 {
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #006c8b;
    user-select: none;
    margin-bottom: 50px;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #006c8b;
    width: 1110px;
    margin-bottom: 8px;
    width: 800px;
    user-select: none;
  }

  img {
    background: none;
    border-radius: 12px;
    pointer-events: none;
  }
}

#why {
  height: 600px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 400px;
    margin-bottom: 30px;
  }

  #EuPhoto img {
    margin-left: 50px;
  }

  h2 {
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #006c8b;
    user-select: none;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #006c8b;
    margin-bottom: 8px;
    user-select: none;
    text-align: center;
  }
}

.allHeading {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #006c8b;
  margin-bottom: 50px;
  user-select: none;
}

.Problem {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 30px;
  gap: 50px;
  margin-bottom: 100px;
  grid-template-columns: repeat(2, 1fr);
  color: #006c8b;
}

.Problem-Item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 3px 12px rgba(6, 11, 47, 0.06);
  text-align: center;

  img {
    width: 100%;
    border-radius: 12px;
  }

  h3 {
    width: 300px;
    font-size: 24px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #006c8b;
    margin-bottom: 16px;
  }

  p {
    width: 300px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #006c8b;
    margin-bottom: 8px;
    text-align: center;
  }
}

.Problem-Item:hover {
  transform: translateY(-6px);
  box-shadow: 0 5px 18px rgba(71, 69, 99, 0.4);
  transition: all 0.5s;
}

#hoWeSolve {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 50px;
  margin-bottom: 100px;
  img {
    width: 200px;
    margin: 0 auto;
    border-radius: 14px;
    margin-bottom: 20px;
  }

  h2 {
    text-align: center;
    margin-bottom: 8px;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #006c8b;
    user-select: none;
    margin-bottom: 30px;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #006c8b;
    margin-bottom: 8px;
    user-select: none;
    text-align: center;
  }
}

.HowWeSolve-Item {
  border-bottom: 1px solid #006c8b;
  border-top: 1px solid #006c8b;
  padding-block: 20px;
}

#ourSolition {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;

  h3 {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #006c8b;
    user-select: none;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #006c8b;
    margin-bottom: 8px;
    user-select: none;
    text-align: center;
  }
}

.Solitions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;

  img {
    margin: 0 auto;
  }
}

.Solitions-Item {
  margin-bottom: 30px;
}

#whyCharging {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  margin: 0 auto;
  gap: 30px;
  margin-bottom: 100px;

  h3 {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #006c8b;
    user-select: none;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #006c8b;
    margin-bottom: 8px;
    user-select: none;
    text-align: center;
  }

  .LastItem {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.WhyCharging-Item {
  display: flex;
  align-items: center;
  border: 1px solid #006c8b;
  border-radius: 14px;
  padding: 15px;
  background-color: white;
  gap: 30px;
  -webkit-box-shadow: 0px 0px 33px -14px rgba(0, 108, 139, 1);
  -moz-box-shadow: 0px 0px 33px -14px rgba(0, 108, 139, 1);
  box-shadow: 0px 0px 33px -14px rgba(0, 108, 139, 1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  img {
    width: 50px;
    margin: 0 auto;
  }
}

.WhyCharging-Item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 108, 139, 0.5);
}

.CustomerBase {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;
  margin: 0 auto;
  gap: 50px;
  margin-bottom: 100px;

  img {
    width: 300px;
    height: 200px;
    margin-bottom: 30px;
    border-radius: 14px;
  }

  h2 {
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #006c8b;
    user-select: none;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #006c8b;
    margin-bottom: 8px;
    user-select: none;
    text-align: center;
  }

  /* Carousel Start */
}

/* Carousel Start */

.carousel-section {
  width: 70%;
  height: 600px;
  margin: 0 auto;
  padding: 30px; /* Added missing semicolon */
  margin-bottom: 100px;
}

.carousel-section h5 {
  padding: 10px;
  border: 1px solid;
  border-radius: 14px;
  background-color: white;
  opacity: 0.6;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #006c8b;
  user-select: none;
  margin-bottom: 20px;
}

.carousel {
  max-height: 600px;
  overflow: hidden;
}

.custom-carousel-img {
  width: 100%; /* Resmin genişliği */
  height: auto; /* Yükseklik otomatik ayarlanır */
  object-fit: cover; /* Resim düzgün görünmesi için */
}

/* Carousel End */

/* Slider Company */

#sliderCompanySection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

#ourPartners {
  img {
    border-radius: 14px;
    margin: 0 auto;
  }
}

.partners-Item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 3px solid #006c8b;
  border-radius: 14px;
  -webkit-box-shadow: 0px 0px 33px -14px rgba(0, 108, 139, 1);
  -moz-box-shadow: 0px 0px 33px -14px rgba(0, 108, 139, 1);
  box-shadow: 0px 0px 33px -14px rgba(0, 108, 139, 1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  h1 {
    margin-bottom: 10px;
  }

  img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 14px;
  }
}

#ourAdvisors {
  display: flex;
  text-align: center;
  padding-inline: 30px;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 14px;
  background-color: transparent;

  img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 14px;
  }
}

.advisors-Item {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding-inline: 30px;
  justify-content: center;
  border: 3px solid #006c8b;
  border-radius: 14px;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 33px -14px rgba(0, 108, 139, 1);
  -moz-box-shadow: 0px 0px 33px -14px rgba(0, 108, 139, 1);
  box-shadow: 0px 0px 33px -14px rgba(0, 108, 139, 1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  img {
    width: 100px;
    height: 100px;
    border-radius: 14px;
  }
}

#sdgGoals {
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;

  img {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border-radius: 14px;
  }

  p {
    width: 350px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    color: white;
    margin-bottom: 8px;
    user-select: none;
    text-align: center;
  }
}

.sgdGoal {
  gap: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  -webkit-box-shadow: 0px 0px 33px -14px rgba(0, 108, 139, 1);
  -moz-box-shadow: 0px 0px 33px -14px rgba(0, 108, 139, 1);
  box-shadow: 0px 0px 33px -14px rgba(0, 108, 139, 1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sgdGoal-Item1 {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #fcb712;
}

.sgdGoal-Item2 {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #f36d26;
}

.sgdGoal-Item3 {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #fd9d24;
}

.sgdGoal-Item4 {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #4a7740;
}

.Team {
  padding: 10px;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 30px;
  margin-bottom: 100px;

  h3 {
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #006c8b;
    user-select: none;
    margin-bottom: 10px;
  }

  img {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
}

.Team-Item {
  border: 1px solid transparent;
  border-radius: 14px;
  padding: 1px;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 33px -14px rgba(0, 108, 139, 1);
  -moz-box-shadow: 0px 0px 33px -14px rgba(0, 108, 139, 1);
  box-shadow: 0px 0px 33px -14px rgba(0, 108, 139, 1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Contact Form */

svg {
  height: 23rem;
  margin-right: 4rem;
}

#envelope {
  animation: float 2s ease-in-out infinite;
}

#star1,
#star2,
#star3,
#star4,
#star5,
#star6 {
  animation: blink 1s ease-in-out infinite;
}
#star2 {
  animation-delay: 100ms;
}
#star3 {
  animation-delay: 500ms;
}
#star4 {
  animation-delay: 700ms;
}
#star5 {
  animation-delay: 300ms;
}
#star6 {
  animation-delay: 200ms;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.container {
  height: 100vh;
}

form {
  min-width: 25rem;

  .title {
    font-family: "Pacifico", cursive;
    color: #006c8b;
    font-size: 2.5rem;
  }

  .form-control {
    background-color: #f2f6f8;
    border-radius: 2rem;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);

    &.thick {
      height: 3.3rem;
      padding: 0.5rem 3.5rem;
    }

    &:focus {
      background-color: #f2f6f8;
      border: none;
      box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
    }
  }

  .message .form-control {
    padding: 0.5rem 1.8rem;
  }

  ::placeholder {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: #838788;
    position: relative;
    left: 0;
  }

  input,
  textarea {
    margin-bottom: 10px;
    font-family: "Quicksand", sans-serif;
    color: #212529;
    font-size: 1.1rem;
    resize: none;
  }

  .icon {
    color: #57565c;
    height: 1.3rem;
    position: absolute;
    left: 1.5rem;
    top: 1.1rem;
  }
}

.btn.btn-primary {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  border: 0;
  border-radius: 3rem;
  background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-size: 100% 100%;
  transform: translateY(-0.15em);
}

/* Contact Form */

/* Milestones */

#milestones {
  margin-bottom: 100px;
}

h1 {
  text-align: center;
}
ul {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
}

ul::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

ul li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

ul li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

ul li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: center;
  background-color: var(--accent-color);

  color: white;
  font-size: 1.25rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

ul li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

ul li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

ul li .title,
ul li .descr {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #006c8b;
  margin-bottom: 8px;
  user-select: none;
  position: relative;
  padding-inline: 1.5rem;
}
ul li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
  font-weight: bolder;
}
ul li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
}

ul li .title::before,
ul li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
ul li .title::before {
  bottom: calc(100% + 0.125rem);
}

ul li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

@media (min-width: 40rem) {
  ul {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  ul::before {
    grid-column: 2;
  }
  ul li:nth-child(odd) {
    grid-column: 1;
  }
  ul li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  ul li:nth-child(2) {
    grid-row: 2/4;
  }

  ul li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  ul li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  ul li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}

.credits {
  margin-top: 1rem;
  text-align: right;
}
.credits a {
  color: var(--color);
}

/* Milestones End */

footer {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  width: 100%;
  background-color: #006c8b;
  color: #f2f2f2;
  text-align: center;

  h3 {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #f2f2f2;
    user-select: none;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #f2f2f2;
    margin-bottom: 8px;
    user-select: none;
  }
}

.footerContainer {
  display: flex;
  align-items: center;
  gap: 300px;
  margin-bottom: 50px;
}

/* Scroll to Top Button */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 18px;
  z-index: 1000;
}

.scroll-to-top:hover {
  background-color: #0056b3;
}
/* Scroll to Top Button */
