/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  pointer-events: none;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  user-select: none;
}

h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #006c8b;
  margin-bottom: 20px;
  user-select: none;
}

p {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.5;
  color: #006c8b;
  margin-bottom: 8px;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CSS Reset END  */

span {
  color: rgb(68, 68, 147);
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

header {
  background-image: url(/assets/images/Boat6.jpg);
  background-size: cover;
  background-position: center;
  height: 900px;
  background-color: #006c8b;
  color: #f2f2f2;
  text-align: center;
  margin-bottom: 100px;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  color: #006c8b;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.877);
  opacity: 0.9;
  z-index: 999999999;

  h1 {
    font-family: "Architype Albers W00";
  }

  ul {
    display: flex;
    gap: 50px;
  }

  .navbar li,
  a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .navbar li,
  a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 16px;
  }

  @keyframes hoverEffect {
    from {
      background-color: #333;
      color: #f2f2f2;
    }
    to {
      background-color: #ddd;
      color: black;
    }
  }

  .navbar a:hover {
    animation: hoverEffect 0.3s forwards;
  }
}

#Introduction {
  padding: 30px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 100px;
  text-align: center;

  h2 {
    margin-top: 30px;
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #006c8b;
    user-select: none;
    margin-bottom: 100px;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #006c8b;
    margin-bottom: 8px;
    user-select: none;
    text-align: center;
  }

  img {
    background: none;
    border-radius: 12px;
    pointer-events: none;
  }
}

#about {
  scroll-margin-top: 200px; /* Navbar yüksekliğine göre ayarlayın */
  padding-block: 20px;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;

  h2 {
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #006c8b;
    user-select: none;
    margin-bottom: 50px;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #006c8b;
    width: 1110px;
    margin-bottom: 8px;
    width: 800px;
    user-select: none;
  }

  img {
    background: none;
    border-radius: 12px;
    pointer-events: none;
  }
}

#why {
  height: 600px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 400px;
    margin-bottom: 30px;
  }

  #EuPhoto img {
    margin-left: 50px;
  }

  h2 {
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #006c8b;
    user-select: none;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #006c8b;
    margin-bottom: 8px;
    user-select: none;
    text-align: center;
  }
}

.WhyHeading {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #006c8b;
  margin-bottom: 50px;
  user-select: none;
}

.Problem {
  display: grid;
  justify-content: center;
  align-content: center;
  padding: 30px;
  gap: 50px;
  margin-bottom: 100px;
  grid-template-columns: repeat(2, 1fr);
  color: #006c8b;
}

.Problem-Item {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 3px 12px rgba(6, 11, 47, 0.06);
  text-align: center;

  img {
    width: 100%;
    border-radius: 12px;
  }

  h3 {
    width: 300px;
    font-size: 24px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: #006c8b;
    margin-bottom: 16px;
  }

  p {
    width: 300px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #006c8b;
    margin-bottom: 8px;
    text-align: center;
  }
}

.Problem-Item:hover {
  transform: translateY(-6px);
  box-shadow: 0 5px 18px rgba(71, 69, 99, 0.4);
  transition: all 0.5s;
}

#hoWeSolve {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 50px;
  margin-bottom: 100px;
  img {
    margin: 0 auto;
    border-radius: 14px;
    margin-bottom: 10px;
  }

  h2 {
    text-align: center;
    margin-bottom: 8px;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #006c8b;
    user-select: none;
    margin-bottom: 30px;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #006c8b;
    margin-bottom: 8px;
    user-select: none;
    text-align: center;
  }
}

.HowWeSolve-Item {
  border-bottom: 1px solid #006c8b;
  border-top: 1px solid #006c8b;
  padding-block: 20px;
}

#ourSolition {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;

  h3 {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #006c8b;
    user-select: none;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #006c8b;
    margin-bottom: 8px;
    user-select: none;
    text-align: center;
  }
}

.Solitions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;

  img {
    margin: 0 auto;
  }
}

.Solitions-Item {
  margin-bottom: 30px;
}

#whyCharging {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px;
  margin: 0 auto;
  gap: 30px;
  margin-bottom: 100px;

  h3 {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #006c8b;
    user-select: none;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #006c8b;
    margin-bottom: 8px;
    user-select: none;
    text-align: center;
  }

  .LastItem {
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.WhyCharging-Item {
  display: flex;
  align-items: center;
  border: 1px solid #006c8b;
  border-radius: 14px;
  padding: 15px;
  background-color: white;
  gap: 30px;
  -webkit-box-shadow: 0px 0px 33px -14px rgba(0, 108, 139, 1);
  -moz-box-shadow: 0px 0px 33px -14px rgba(0, 108, 139, 1);
  box-shadow: 0px 0px 33px -14px rgba(0, 108, 139, 1);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  img {
    width: 50px;
    margin: 0 auto;
  }
}

.WhyCharging-Item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 108, 139, 0.5);
}

.CustomerBase {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;
  margin: 0 auto;
  gap: 50px;
  margin-bottom: 100px;

  img {
    width: 300px;
    height: 200px;
    margin-bottom: 30px;
    border-radius: 14px;
  }

  h2 {
    margin-bottom: 8px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #006c8b;
    user-select: none;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #006c8b;
    margin-bottom: 8px;
    user-select: none;
    text-align: center;
  }

  /* Carousel Start */
}

/* Carousel Start */

.carousel-section {
  width: 70%;
  height: 600px;
  margin: 0 auto;
  padding: 30px; /* Added missing semicolon */
  margin-bottom: 100px;
}

.carousel-section h5 {
  padding: 10px;
  border: 1px solid;
  border-radius: 14px;
  background-color: white;
  opacity: 0.6;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #006c8b;
  user-select: none;
  margin-bottom: 20px;
}

.carousel {
  max-height: 600px; /* Slider'ın maksimum yüksekliği */
  overflow: hidden; /* Taşan içeriği gizle */
}

.custom-carousel-img {
  width: 100%; /* Resmin genişliği */
  height: auto; /* Yükseklik otomatik ayarlanır */
  object-fit: cover; /* Resim düzgün görünmesi için */
}

/* Carousel End */

/* Slider Company */

#sliderCompanySection {
  h1 {
    margin-bottom: 50px;
  }
}

.white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-bottom: 100px;
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}

/* Slider Company */
